<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{path('app_api')}}">SYMAPI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{path('app_api')}}">Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_api_region')}}">Régions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_api_departement')}}">Départements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_api_commune')}}">Communes</a>
        </li>

    </div>
  </div>
</nav>